<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="Austin.Mroz">

		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCem8ElF-SWCMUBW-j4z2NIGnz4-KyUASk"/>

  <application android:label="Android-Map">
	<uses-library android:name="com.google.android.maps" />
    <activity android:name="MainActivity">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
	android:name="Austin.Mroz.DisplayMessageActivity"
	android:label="@string/title_activity_display_message"
	android:parentActivityName="Austin.Mroz.MainActivity">
      <meta-data
	  android:name="android.support.PARENT_ACTIVITY"
	  android:value="Austin.Mroz.MainActivity"/>
    </activity>
  </application>
</manifest>
